.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.barChart{
    width: 63%;
    height: 250px;
    border-radius: 10px;
    background-image: url('https://media.istockphoto.com/id/1359570687/vector/modern-bar-chart-statistics-gauges-moving-up.jpg?s=612x612&w=0&k=20&c=IaRCCaqSmOKBiROxe5NqdnJJkhrCw59sxAU-zXg4dGA=');
    background-size: 100% 100%;
}
.pieChart{
    width: 35%;
    height: 250px;
    border-radius: 10px;
    background-image: url('https://img.freepik.com/free-vector/3d-pie-chart_78370-626.jpg?size=626&ext=jpg') ;
    background-size: 100% 100%;
   
}

@media only screen and (max-width: 570px){
    
    .barChart{
        width: 100%;
       
    }
    .pieChart{
        width: 100%;
       
    }
}