.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon{
    position: relative;
    left: 20px;
}
input{
    background-color: #ffff;
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: lightgray;
    font-weight: 300;
}

@media only screen and (max-width : 570px){
    .container{
        flex-direction: column;
        padding: 20px 0px;

    }
    .message{
        font-size: 15px;
    }
    input{
        height: 25px;
    }
}

