.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.top{
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    position: relative;
    margin-bottom: 5px;
}
.bottom{
    height: 50%;
    display:flex ;
    flex-direction: column;
    
}
.btop{
    display: flex;
   justify-content: space-between;
}
.text1{
    display: flex;
    margin-top:60px;
    color: gray;
    font-weight: 700;
}
.text p, .number p {
    width: 80px;
}
.number{
    display: flex;
}
.text2{
   position: absolute;
   right: 50px;
   top: 10px;
   text-align: center;
}
.text input{
    border-radius: 5px;
    height: 33px;
    position: absolute;
    right: 180px;
    top: -5px;
   
}
.text2 p{

    width: 150px;
    height: 33px;
    border-radius: 5px;
    text-align: start;
    padding-left: 10px;
    position: absolute;
    right: 15px;
    top: -5px;
    background-color: #ffff;
}
.top h5{
    font-size: 25px;
    font-weight: 650;
    position: absolute;
    top: 0px;
}
.color{
    color: gray;
    font-weight: 700;
    position: absolute;
    top: 40px;
}
.image{
    width: 90px;
    height: 45px;
    background-color: #000;
    border-radius: 5px;
    background-image: url('https://img.freepik.com/free-photo/purple-osteospermum-daisy-flower_1373-16.jpg?w=2000');
    background-size: 100% 100%;
}
.btop{
    height: 50px;
}

.data{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -55px;
    margin-left: 100px;
    margin-top: 10px;
    line-height: 15px;
    width: 300px;
}
.data span{
    font-size: 15px;
    font-weight: 700;
}
.icons{
    font-size: 20px;
    margin-left: 10px;
    font-weight: 400;
}
.icon{
    font-size: 15px;
   position: relative;
    font-weight: 400;
    right : 345px;
    z-index: 2;
}

@media only screen and (max-width:570px){
    .container{
        overflow-x: scroll;
    }
    
 
}

@media only screen and (max-width:992){
   
}