.App{
  height: 100vh;
  display: flex;
}
.NavContainer{
  width: 20%;
  background-color: rgb(26, 13, 100);
  color: #fff;
}
.mainContainer{
  width: 80%;
  padding:  0% 2% ;
  box-sizing: border-box;
}
.topContainer{
  height: 8%;
}
.cardContainer{
  height: 22%;
}
.chartContainer{
  height: 45%;
}
.tableContainer{
  height: 25%;
  width: 100%;
}
@media only screen and (max-width: 570px){
  .topContainer{
    height: 10%;
    padding: 5px;
  }
  .cardContainer{
    height: 70%;
  }
  .chartContainer{
    height: 75%;
  }
  
}